
.menuBoutton{
    font-family: 'barlow';
}

menuBoutton::before{
    font-family: ;
}

@font-face {
    font-family: 'bellefair';
    src: url('./Fonts/Bellefair-Regular.ttf') format('truetype');
 
}
@font-face {
    font-family: 'barlow';
    src: url('./Fonts/Barlow-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'barlowC';
    src: url('./Fonts/Barlow-Bold.ttf') format('truetype');
}


.fontA {
    font-family: 'bellefair';
    font-size: 80px;
}
.fontB{
    font-family: 'barlow';
    font-size: 20px;
}

.fontC {
    font-family: 'barlowC';
    font-size: 25px;
   
}
.fondEtoiles {
    background-image: url('./assetPlanet/fondEtoiles.png');
    background-size: 100%;
background-color: black;
    color:white;
    padding: 50px;
}
 .fondAcceuil {
    background-image: url("./Background.png");
    background-size: 100%;
    color:white;
    padding: 50px;
}


header {
    background-image: url("./Rectangle.png");
    display: flex;
    justify-content: flex-end ;
    margin: 100px;
           
}

.traitMenu {
    width: 170vh;
}
.espace{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
.basgauche{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    height: 80vh; 
}

.ellipse {
    display: flex;
    flex-direction: column; 
    margin-left: 35vh;
    justify-content: center; 
    height: 80vh; 
    }

.conteneurImage {
        position: relative;
        display: inline-block;
        
    }

  



